In [1]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
test1='This is a test of the emergency text system'
with open('test.txt','w+') as f:
    f.write(test1)

In [2]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt','r') as f:
    test2=f.read()

#3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv
s=[["title,author,year"],
["The Weirdstone of Brisingamen,Alan Garner,1960"],
["Perdido Street Station,China Miéville,2000"],
["Thud!,Terry Pratchett,2005"],
["The Spellman Files,Lisa Lutz,2007"],
["Small Gods,Terry Pratchett,1992"]]

with open('books.csv','w+',encoding='UTF8',newline='') as f:
    writer=csv.writer(f)
    writer.writerows(s)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3
db=sqlite3.connect('books.db')
cursor=db.cursor()
cursor.execute('''create table books(title varchar,author varchar,year int);''')

5. Read books.csv and insert its data into the book table.

In [2]:
import csv
file=open('books.csv','r')
data=csv.reader(file)
l=[]
for lines in data:
    l.append(tuple(lines[0].split(',')))
print(l)

[('title', 'author', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', '1960'), ('Perdido Street Station', 'China MiÃ©ville', '2000'), ('Thud!', 'Terry Pratchett', '2005'), ('The Spellman Files', 'Lisa Lutz', '2007'), ('Small Gods', 'Terry Pratchett', '1992')]

In [3]:
sql='''insert into books values(?,?,?);'''
cursor.executemany(sql,l[1:])
d=cursor.execute('''SELECT * FROM books''')
for row in d:
    print(row)
db.commit()
#db.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [4]:
import pandas as pd
df = pd.read_sql_query("SELECT * from books", db)

In [5]:
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station  China MiÃ©ville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

6. Select and print the title column from the book table in alphabetical order.

In [20]:
values=cursor.execute("select title from books order by(title)")
for i in values:
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [21]:
#7. From the book table, select and print all columns in the order of publication.
values=cursor.execute('select * from books order by(year)')
for i in values:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [29]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [30]:
import sqlalchemy as alchemy

In [43]:
engine=alchemy.create_engine('sqlite:///books.db')
con=engine.connect()
metadata = alchemy.MetaData()

shows = alchemy.Table('books', metadata, autoload=True, autoload_with=engine)

query = alchemy.select([shows.columns.title]).order_by(shows.columns.title)

result_proxy = con.execute(query)

for rows in result_proxy:
    print(rows)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)